/*#myCanvas {
	border:1px solid;
	text-align:center;
}*/

#buttonStart {
    position: absolute;
    width: 200px;
    height: 50px;

    top:30%;
    left:44%;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#buttonReset {
    position: absolute;
    width: 200px;
    height: 50px;

    top:8%;
    left:10%;
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#buttonReset:hover {
    background-color: #EA1548; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    animation: bounce 0.35s ease infinite alternate;
}
@keyframes bounce{
     from {transform: translateY(0);}
     to   {transform: translateY(-10px);}
}

#buttonStart:hover {
    background-color: #909090; 
    box-shadow: -1px 2px 10px 3px rgba(240, 12, 0, 0.2) inset;
}

#myCanvas {
    position: absolute;
    width: 700px;
    height: 600px;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    background-color: #666666;
}

#ScoreBoard {
    border-radius: 5px;
    box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
}

